body {
  font-family: Arial;
  background: #f0f2f5;
  padding: 20px;
}

section {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 120px;
}

button {
  padding: 10px;
  background: #1e90ff;
  color: white;
  border: none;
  cursor: pointer;
}
